#veditor {
    background-image: url(https://alpic.fanquanwang.com/qq5n/qqbq/20220923/16635522764959577762.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgba(255, 255, 255, 0);
    resize: vertical
}