/*=======================================*/
/* 滚动条 */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-thumb {
    background: var(--heo-scrollbar);
    border-radius: 8px;
    cursor: pointer;
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--heo-main);
    opacity: 1;
    display: block !important;
}

*::-webkit-scrollbar-track {
    background-color: var(--heo-none);
}

html {
    overflow-y: overlay;
}

/*==================================================*/
/* 搜索背景模糊 */
#search-mask {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background: var(--heo-maskbg);
}

/*================================================*/
/* 文章目录 */
#aside-content #card-toc .toc-content .toc-link.active {
    line-height: 1.2;
    border-radius: 12px;
    border-left-color: var(--heo-hovertext);
    background-color: var(--heo-card-bg);
    color: var(--heo-lighttext);
    font-weight: bold;
    font-size: 20px;
}

[data-theme=dark].toc .toc-item.active .toc-link .toc-text {
    color: var(--heo-white);
}

#aside-content #card-toc .toc-content .toc-item.active .toc-link {
    opacity: 1;
    border-radius: 8px;
}

#aside-content #card-toc .toc-content .toc-link {
    line-height: 1.2;
    padding: 8px;
    border-left: 0px solid transparent;
    border-radius: 12px;
    color: var(--heo-secondtext);
    cursor: default;
}

#aside-content #card-toc .toc-content .toc-link:not(.active) span {
    opacity: 0.6;
    cursor: pointer;
    filter: blur(1px);
    transition: 0.3s;
}

#aside-content #card-toc:hover .toc-content .toc-link:not(.active) span {
    filter: blur(0px);
    opacity: 1;
}

#aside-content #card-toc .toc-content .toc-link:not(.active) span:hover {
    color: var(--heo-lighttext);
}

/*===============================================*/
/* 侧边栏个人信息卡片动态渐变色 */
#aside-content>.card-widget.card-info {
    background: linear-gradient(-45deg,
            #e8d8b9,
            #eccec5,
            #a3e9eb,
            #bdbdf0,
            #eec1ea);
    box-shadow: 0 0 5px rgb(66, 68, 68);
    position: relative;
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite !important;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* 黑夜模式适配 */
[data-theme="dark"] #aside-content>.card-widget.card-info {
    background: #191919ee;
}

/* 个人信息Follow me按钮 */
#aside-content>.card-widget.card-info>#card-info-btn {
    background-color: #3eb8be;
    border-radius: 8px;
}

/*================================================*/

/*======================================*/


/*===============================================*/
:root {
    --trans-light: rgba(255, 255, 255, 0.88);
    --trans-dark: rgba(25, 25, 25, 0.88);
    --border-style: 1px solid rgb(169, 169, 169);
    --backdrop-filter: blur(5px) saturate(150%);
}

/* 首页文章卡片 */
#recent-posts>.recent-post-item {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 25px;
    border: var(--border-style);
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 18px;
    border: var(--border-style);
}

/* 文章页、归档页、普通页面 */
div#post,
div#page,
div#archive {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border: var(--border-style);
    border-radius: 20px;
}

/* 导航栏 */
#page-header.nav-fixed #nav {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: var(--backdrop-filter);
}

[data-theme="dark"] #page-header.nav-fixed #nav {
    background: rgba(0, 0, 0, 0.7) !important;
}

/* 夜间模式遮罩 */
[data-theme="dark"] #recent-posts>.recent-post-item,
[data-theme="dark"] #aside-content .card-widget,
[data-theme="dark"] div#post,
[data-theme="dark"] div#archive,
[data-theme="dark"] div#page {
    background: var(--trans-dark);
}


/* 夜间模式页脚页头遮罩透明 */
[data-theme="dark"] #footer::before {
    background: transparent !important;
}

[data-theme="dark"] #page-header::before {
    background: transparent !important;
}

/* 阅读模式 */
.read-mode #aside-content .card-widget {
    background: rgba(158, 204, 171, 0.5) !important;
}

.read-mode div#post {
    background: rgba(158, 204, 171, 0.5) !important;
}

/* 夜间模式下的阅读模式 */
[data-theme="dark"] .read-mode #aside-content .card-widget {
    background: rgba(25, 25, 25, 0.9) !important;
    color: #ffffff;
}

[data-theme="dark"] .read-mode div#post {
    background: rgba(25, 25, 25, 0.9) !important;
    color: #ffffff;
}

/*========================================*/
/* 文章页H1-H6图标样式效果 */
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    -webkit-animation: ccc 1.6s linear infinite;
    animation: ccc 1.6s linear infinite;
}

@-webkit-keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}

@keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}

/*=====*/
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    -webkit-animation: ccc 1.6s linear infinite;
    animation: ccc 1.6s linear infinite;
}

/*=====*/
@-webkit-keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}

@keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}

/*=====*/
#content-inner.layout h1::before {
    color: #ef50a8;
    margin-left: -0.55rem;
    font-size: 1.5rem;
    margin-top: -0.23rem;
}

#content-inner.layout h2::before {
    color: #fb7061;
    margin-left: -0.35rem;
    font-size: 1.3rem;
    margin-top: -0.12rem;
}

#content-inner.layout h3::before {
    color: #ffbf00;
    margin-left: -0.22rem;
    font-size: 1.15rem;
    margin-top: -0.09rem;
}

#content-inner.layout h4::before {
    color: #a9e000;
    margin-left: -0.05rem;
    font-size: 1rem;
    margin-top: -0.09rem;
}

#content-inner.layout h5::before {
    color: #57c850;
    margin-left: -0.02rem;
    font-size: 0.9rem;
    margin-top: 0.0rem;
}

#content-inner.layout h6::before {
    color: #5ec1e0;
    margin-left: -0.02rem;
    font-size: 0.86rem;
    margin-top: 0.0rem;
}

/*=====*/
#content-inner.layout h1:hover,
#content-inner.layout h2:hover,
#content-inner.layout h3:hover,
#content-inner.layout h4:hover,
#content-inner.layout h5:hover,
#content-inner.layout h6:hover {
    color: #49b1f5;
}

#content-inner.layout h1:hover::before,
#content-inner.layout h2:hover::before,
#content-inner.layout h3:hover::before,
#content-inner.layout h4:hover::before,
#content-inner.layout h5:hover::before,
#content-inner.layout h6:hover::before {
    color: #49b1f5;
    -webkit-animation: ccc 3.2s linear infinite;
    animation: ccc 3.2s linear infinite;
}

/*=====*/
/* 页面设置icon转动速度调整 */
#rightside_config i.fas.fa-cog.fa-spin {
    animation: fa-spin 5s linear infinite;
}

/*=======================================*/
/* 分类 */
#page .category-lists .category-list .category-list-item {
    position: relative;
    display: inline-block;
    padding: 0 1rem;
    width: 48%;
    font-weight: 700;
    margin: 0 0.5% 2% 0.5%;
    border-radius: 8px;
    -webkit-box-shadow: rgb(50 50 50 / 30%) 50px 50px 50px 50px inset;
    box-shadow: rgb(50 50 50 / 30%) 50px 50px 50px 50px inset;
}

@media (max-width: 640px) {
    #page .category-lists .category-list .category-list-item {
        width: 95%;
    }
}

#page .category-lists .category-list .category-list-item::before {
    display: none;
}

#page .category-lists .category-list .category-list-item .category-list-link {
    color: var(--white);
    font-size: 1.5rem;
    margin-left: 0.4rem;
}

#page .category-lists .category-list .category-list-item .category-list-link::after {
    content: "";
    position: relative;
    width: 0;
    bottom: 0;
    display: block;
    height: 3px;
    border-radius: 3px;
    background: var(--white);
}

#page .category-lists .category-list .category-list-item .category-list-link:hover::after {
    width: 60%;
    left: 1%;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    -ms-transition: all 0.6s;
    transition: all 0.6s;
}

#page .category-lists .category-list .category-list-item .category-list-count {
    color: var(--white);
    font-size: 1.3rem;
}

#page .category-lists .category-list .category-list-item .category-list-count::before {
    content: "\f02d";
    padding-right: 15px;
    font-family: "Font Awesome 6 Free";
}

#page .category-lists .category-list .category-list-item .category-list-count::after {
    display: none;
}

#page .category-lists .category-list li.category-list-item a.category-list-link::before {
    position: absolute;
    font-size: 4rem;
    line-height: 4rem;
    top: 1rem;
    right: 1rem;
    opacity: 0.7;
    box-shadow: 0 3px 8px 6px rgb(85 85 85 / 6%);
    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    -ms-transition: all 0.6s;
    transition: all 0.6s;
}

#page .category-lists .category-list li.category-list-item a.category-list-link:hover::before {
    opacity: 0.9;
    transform: rotate(0);
    -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
}

#page .category-lists .category-list li.category-list-item:nth-child(1) {
    background: -webkit-linear-gradient(left, #364f6b, #3fc1c9);
    background: -moz-linear-gradient(left, #364f6b, #3fc1c9);
    background: -o-linear-gradient(left, #364f6b, #3fc1c9);
    background: -ms-linear-gradient(left, #364f6b, #3fc1c9);
    background: linear-gradient(to right, #364f6b, #3fc1c9);
}

#page .category-lists .category-list li.category-list-item:nth-child(1) a.category-list-link::before {
    content: "🖥️";
}

#page .category-lists .category-list li.category-list-item:nth-child(2) {
    background: -webkit-linear-gradient(left, #ba52ed, #ff99fe);
    background: -moz-linear-gradient(left, #ba52ed, #ff99fe);
    background: -o-linear-gradient(left, #ba52ed, #ff99fe);
    background: -ms-linear-gradient(left, #ba52ed, #ff99fe);
    background: linear-gradient(to right, #ba52ed, #ff99fe);
}

#page .category-lists .category-list li.category-list-item:nth-child(2) a.category-list-link::before {
    content: "📚";
}

#page .category-lists .category-list li.category-list-item:nth-child(3) {
    background: -webkit-linear-gradient(left, #6639a6, #3490de);
    background: -moz-linear-gradient(left, #6639a6, #3490de);
    background: -o-linear-gradient(left, #6639a6, #3490de);
    background: -ms-linear-gradient(left, #6639a6, #3490de);
    background: linear-gradient(to right, #6639a6, #3490de);
}

#page .category-lists .category-list li.category-list-item:nth-child(3) a.category-list-link::before {
    content: "💬";
}

#page .category-lists .category-list li.category-list-item:nth-child(4) {
    background: -webkit-linear-gradient(right, #38ef7d, #11998e);
    background: -moz-linear-gradient(right, #38ef7d, #11998e);
    background: -o-linear-gradient(right, #38ef7d, #11998e);
    background: -ms-linear-gradient(right, #38ef7d, #11998e);
    background: linear-gradient(to left, #38ef7d, #11998e);
}

#page .category-lists .category-list li.category-list-item:nth-child(4) a.category-list-link::before {
    content: "🌐";
}

#page .category-lists .category-list li.category-list-item:nth-child(5) {
    background: -webkit-linear-gradient(left, #b91d73, #f953c6);
    background: -moz-linear-gradient(left, #b91d73, #f953c6);
    background: -o-linear-gradient(left, #b91d73, #f953c6);
    background: -ms-linear-gradient(left, #b91d73, #f953c6);
    background: linear-gradient(to right, #b91d73, #f953c6);
}

#page .category-lists .category-list li.category-list-item:nth-child(5) a.category-list-link::before {
    content: "📝";
}

#page .category-lists .category-list li.category-list-item:nth-child(6) {
    background: -webkit-linear-gradient(left, #f12711, #f5af19);
    background: -moz-linear-gradient(left, #f12711, #f5af19);
    background: -o-linear-gradient(left, #f12711, #f5af19);
    background: -ms-linear-gradient(left, #f12711, #f5af19);
    background: linear-gradient(to right, #f12711, #f5af19);
}

#page .category-lists .category-list li.category-list-item:nth-child(6) a.category-list-link::before {
    content: "🎨";
}

#page .category-lists .category-list li.category-list-item:nth-child(7) {
    background: -webkit-linear-gradient(left, #009ad6, #1b315e);
    background: -moz-linear-gradient(left, #009ad6, #1b315e);
    background: -o-linear-gradient(left, #009ad6, #1b315e);
    background: -ms-linear-gradient(left, #009ad6, #1b315e);
    background: linear-gradient(to right, #009ad6, #1b315e);
}

#page .category-lists .category-list li.category-list-item:nth-child(7) a.category-list-link::before {
    content: "📖";
}

#page .category-lists .category-list li.category-list-item:nth-child(8) {
    background: -webkit-linear-gradient(left, #ef5b9c, #f5af19);
    background: -moz-linear-gradient(left, #ef5b9c, #f5af19);
    background: -o-linear-gradient(left, #ef5b9c, #f5af19);
    background: -ms-linear-gradient(left, #ef5b9c, #f5af19);
    background: linear-gradient(to right, #ef5b9c, #f5af19);
}

#page .category-lists .category-list li.category-list-item:nth-child(8) a.category-list-link::before {
    content: "🎭";
}